Q1. Write a Python function to find the Max of three numbers

In [20]:
num1 = int(input("Enter 1st number: "))
num2 = int(input("Enter 2nd number: "))
num3 = int(input("Enter 3rd number: "))
def max_num(num1,num2,num3):
    if (num1 >= num2) and (num1 >= num3): 
        max_num = num1 
    elif (num2 >= num1) and (num2 >= num3): 
        max_num = num2 
    else: 
        max_num = num3
    return max_num

print("Max of three numbers is : ", max_num(num1,num2,num3))

Enter 1st number: 12
Enter 2nd number: 14
Enter 3rd number: 19
Max of three numbers is :  19

Q2. Write a Python function that checks whether a passed string is palindrome or not

In [49]:
s = input("Enter String : ")

def palindrome_check(s):
  if(s == s[::-1]):
   print("The string is a Palindrome as reverse is :", s[::-1])
  else:
   print("The string is not a Palindrome as reverse is :",s[::-1])

palindrome_check(s)

Enter String : malayalam
The string is a Palindrome as reverse is : malayalam

Q3. Write a Python function that accepts a string and calculate the number of uppercase letters and
lowercase letters

In [67]:
str1 = input("Enter String : ")
uc=0
lc=0
def up_low(str1):
  global lc,uc
  for i in str1: 
    if (i>='a'and i<='z'): 
        lc+=1                 #count lower case             
    if (i>='A'and i<='Z'):       
        uc+=1                 #count upper case

up_low(str1)
print("Number of upper case letters are : ",uc) 
print("Number of lower case letters are : ",lc)

Enter String : HellO
Number of upper case letters are :  2
Number of lower case letters are :  3

Q4. Write a Python function to sum all the numbers in a list

In [79]:
list_num = [1, 2, 3, 4, 5]
def sum(list_num):
    list_sum = 0
    for i in list_num:
        list_sum += i
    return list_sum

print("List sum is :",sum(list_num))

List sum is : 15

Q5. Write a Python function to multiply all the numbers in a list

In [78]:
list_num = [2, 4, 6, 8]
def multiply(list_num):  
    product = 1
    for i in list_num:
        product *= i 
    return product

print("Product of list is :",multiply(list_num))

Product of list is : 384

Q6. Write a Python function that takes a list and returns a new list with unique elements of the first list

In [81]:
def unique_list(l1):
  rl = []              #result list : rl
  for i in l1:
    if i not in rl:
      rl.append(i)
  return rl

print(unique_list([1,1,1,2,2,3,4,4,5,5,6,6,6,6]))

[1, 2, 3, 4, 5, 6]